In [53]:
import pandas as pd
import numpy as np
import os

# uncomment this next section to create your own data.csv file for ETFs, as Github does not allow pushing files this large
                    # https://stackoverflow.com/questions/44946763/pandas-dataframe-correlation-on-part-date
df = pd.DataFrame()
dirs = os.listdir(".\ETFs")
print(dirs)
i = 0
for d in dirs:
    if d != "Other":
        files = os.listdir(f".\ETFs\{d}")
        for f in files:
            a = pd.read_csv(f".\ETFs\{d}\{f}")
            a = a[a.columns[:-1]]
            a["Sector"]=d
            a["ETF"]=f.split(".")[0].upper()
            a = a[["Date","ETF","Sector"]+list(a.columns[1:-2])]
            #print(a)
            df = pd.concat([df,a],ignore_index=True)

df.to_csv("data.csv") # so that the computation wouldn't take this long next time

ETFdf = pd.read_csv("data.csv")
ETFdf = ETFdf[ETFdf.columns[1:]]
ETFdf = ETFdf[(ETFdf["Date"]>="2008-01-25") & (ETFdf["Date"]<="2016-11-22")] # the data for the other dataset is between these dates
ETFdf
#ETFdf[ETFdf["Date"]=="YYYY-MM-DD"]# return stock data on a specific date

Rdtdf = pd.read_csv("reddit_data.csv")
Rdtdf = Rdtdf[Rdtdf.columns[:-3]]

ETFdf[["Date", "ETF", "Sector", "Close"]]

['Consumer Discretionary', 'Consumer Staples', 'Energy', 'Financials', 'Healthcare', 'Industrials', 'Materials', 'Other', 'Real Estate', 'Technology', 'Telecom', 'Utilities']

              Date  ETF                  Sector   Close
1       2008-01-25  BJK  Consumer Discretionary  37.111
2       2008-01-28  BJK  Consumer Discretionary  34.306
3       2008-01-29  BJK  Consumer Discretionary  34.594
4       2008-01-30  BJK  Consumer Discretionary  34.974
5       2008-01-31  BJK  Consumer Discretionary  35.338
...            ...  ...                     ...     ...
650873  2016-11-16  XLU               Utilities  44.916
650874  2016-11-17  XLU               Utilities  44.926
650875  2016-11-18  XLU               Utilities  44.790
650876  2016-11-21  XLU               Utilities  45.263
650877  2016-11-22  XLU               Utilities  45.439

[511279 rows x 4 columns]

In [31]:

index = pd.date_range(start='2008-1-25', end='2016-11-22', freq='3B', closed="left")
index
#modifiedDf = ETFdf[["Date", "ETF", "Sector", "Close"]]
#df = pd.DataFrame(np.random.random((N,3)), index=index)
#df['month'] = df.index.month
#result = df.groupby('month').corr()
#print(result.head(9))

DatetimeIndex(['2008-01-25', '2008-01-30', '2008-02-04', '2008-02-07',
               '2008-02-12', '2008-02-15', '2008-02-20', '2008-02-25',
               '2008-02-28', '2008-03-04',
               ...
               '2016-10-13', '2016-10-18', '2016-10-21', '2016-10-26',
               '2016-10-31', '2016-11-03', '2016-11-08', '2016-11-11',
               '2016-11-16', '2016-11-21'],
              dtype='datetime64[ns]', length=768, freq='3B')

In [55]:
Rdtdf

,time_created,date_created,up_votes,down_votes,title
0,1201232046,2008-01-25,3,0,Scores killed in Pakistan clashes
1,1201232075,2008-01-25,2,0,Japan resumes refuelling mission
2,1201232523,2008-01-25,3,0,US presses Egypt on Gaza border
3,1201233290,2008-01-25,1,0,Jump-start economy: Give health care to all
4,1201274720,2008-01-25,4,0,Council of Europe bashes EU&UN terror blacklist
...,...,...,...,...,...
509231,1479816764,2016-11-22,5,0,Heil Trump : Donald Trump s alt-right white...
509232,1479816772,2016-11-22,1,0,There are people speculating that this could b...
509233,1479817056,2016-11-22,1,0,Professor receives Arab Researchers Award
509234,1479817157,2016-11-22,1,0,Nigel Farage attacks response to Trump ambassa...
509235,1479817346,2016-11-22,1,0,Palestinian wielding knife shot dead in West B...

In [56]:
tempDF = Rdtdf
tempDF["title"] = tempDF["title"].str.split()
tempDF
#onehot = pd.get_dummies(pd.DataFrame(tempDF['title'].sort_index().tolist()).stack()).sum(level=0)
#onehot
# y = pd.get_dummies(tempDF.Title, prefix='Title')
# y

,time_created,date_created,up_votes,down_votes,title
0,1201232046,2008-01-25,3,0,"[Scores, killed, in, Pakistan, clashes]"
1,1201232075,2008-01-25,2,0,"[Japan, resumes, refuelling, mission]"
2,1201232523,2008-01-25,3,0,"[US, presses, Egypt, on, Gaza, border]"
3,1201233290,2008-01-25,1,0,"[Jump-start, economy:, Give, health, care, to,..."
4,1201274720,2008-01-25,4,0,"[Council, of, Europe, bashes, EU&UN, terror, b..."
...,...,...,...,...,...
509231,1479816764,2016-11-22,5,0,"[Heil, Trump, :, Donald, Trump, s, alt-right, ..."
509232,1479816772,2016-11-22,1,0,"[There, are, people, speculating, that, this, ..."
509233,1479817056,2016-11-22,1,0,"[Professor, receives, Arab, Researchers, Award]"
509234,1479817157,2016-11-22,1,0,"[Nigel, Farage, attacks, response, to, Trump, ..."
509235,1479817346,2016-11-22,1,0,"[Palestinian, wielding, knife, shot, dead, in,..."

In [59]:
onehot = pd.get_dummies(pd.DataFrame(tempDF['title'].sort_index().tolist()).stack()).sum(level=0)
onehot

,-Times,40ft,Ad,Angela,Archbishop,Border,Burma,Canterbury,Cleansing,Commission,...,thoughtless,threatens,to,told,town,tried,unveils,with,words,workers
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,1,0,0,0
6,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
10,1,0,0,0,1,0,0,1,0,0,...,1,0,1,0,0,0,0,0,1,0
11,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
14,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
19,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
ETFdf.corr()

            Open      High       Low     Close    Volume
Open    1.000000  0.996758  0.995821  0.993157 -0.010884
High    0.996758  1.000000  0.993824  0.994451 -0.010467
Low     0.995821  0.993824  1.000000  0.997664 -0.011202
Close   0.993157  0.994451  0.997664  1.000000 -0.010848
Volume -0.010884 -0.010467 -0.011202 -0.010848  1.000000